.container {
    display: flex;
    background-color: #4b0082;
  }
  
  .sellers-container {
    padding: 18px;
    flex: 1; 
  }
  
  .map-container {
    min-width: 75%; 
  }

  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100; 
  }

  .page1 {
    width: 100%;
    height: 100vh;
    background-color: red; 
    color: white;
    text-align: center;
    justify-content: center;
    font-size: 32px;
    padding-top: 20px;
  }

  .page2 {
    width: 100%;
    height: 100vh;
    background-color: blue; 
    color: white;
    text-align: center;
    justify-content: center;
    font-size: 32px;
    padding-top: 20px;
  }

  .page3 {
    width: 100%;
    height: 100vh;
    background-color: black; 
    color: white;
    text-align: center;
    justify-content: center;
    font-size: 32px;
    padding-top: 20px;
  }