<app-menu></app-menu>

<div class="container">
  <div class="map-container">
    @switch (menuItemSelected) {
      @case ('page1') {
        <div class="page1">
          Esta es la pagina 1
        </div>
      }
      @case ('page2') {
        <div class="page2">
          Esta es la pagina 2
        </div>
      }
      @case ('page3') {
        <div class="page3">
          Esta es la pagina 3
        </div>
      }
      @default {
        <app-map></app-map>
      }
    }
    
  </div>
  <div class="sellers-container">
    <app-sellers />
  </div>
</div>

@if (isOpenModal) {
  <div class="modal">
    <app-create-seller-modal></app-create-seller-modal>
  </div>
}

