.menu {
    background-color: #4b0082;
    color: #fff;
    padding: 20px;
  }
  
  .menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex; 
  }
  
  .menu ul li {
    margin-right: 40px; 
    width: 60px;
    height: 30px;
    padding: 8px;
    border-radius: 4px;
  }
  
  .menu ul li:last-child {
    margin-right: 0; 
  }
  
  .menu ul li:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  .selected-item {
    font-weight: bold;
    color: white; 
    background-color: #007bff;
  }